<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace:名称空间
    代码从官网粘贴的
    代码从官网粘贴的
    代码从官网粘贴的
    代码从官网粘贴的
    代码从官网粘贴的
-->
<mapper namespace="com.example.yx_login3.mapper.UserMapper">
    <select id="selectUsernmaeAndPassword" resultType="com.example.yx_login3.entity.User">
        select * from user where username = #{username} and password = #{password};
    </select>
</mapper>




